*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
    
}
body {
    color:black;
    background-color:rgb(69, 192, 192);
}
.contenido{
    width: 100%;    
    height: 70vh ;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.calculadora{
    
    border-radius: 7px;
    width: 260px;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 24, 24);
    border: 2px solid black;
}
h1{
    margin-bottom: 10px;
}
i{
    font-size: 50px;
}
